.container {
    height: 220vh;
    width: 100%;
}

.eve {
    margin-top: 50px;
    height: 60vh;
    width: 80%;
    display: flex;
    gap: 40px;
    margin-left: 100px;
}

.events {
    height: 403px;
    width: 30%;
    border-radius: 10px;
    justify-content: center;
    border: 1.5px solid #7f7fd5;

}

.events p {
    font-size: large;
    padding: 16px;
}

img {
    border-radius: 10px;
    height: 200px;
    width: 100%;
    cursor: pointer;

}

button {
    height: 45px;
    width: 100%;
    cursor: pointer;
    background: linear-gradient(to bottom, #7f7fd5, #86a8e7, #91eae4);
    color: aliceblue;
    border-radius: 8px;
}

button:hover {
        background: linear-gradient(to bottom, #7f7fd5, #86a8e7, #91eae4);

}