.container {
    background-color: black;
    color: white;
    height: 160vh;
    width: 100%;
}

.heading {
    justify-content: center;
    display: flex;
    gap: 10px;
}

.subline {
    color: #747070;
    font-size: 14px;
}

#sub {
    margin-left: 370px;
}

#bi-question-circle {
    margin-right: 5px;
    margin-top: 8px;
    height: 20px;
    width: 24px;

}

.block {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.faq {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.faqs-heading {
    margin-left: 10px;
}

.faq-symbol {
    height: 20px;
    width: 24px;

}

.bi-book {
    margin-right: 5px;
    margin-top: 5px;

}

.links {
    display: flex;
}

.manual {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: auto;
    height: 200px;
    max-width: 200px;
    justify-items: center;
}

.sentence {
    color: #747070;
    font-size: 12px;
    padding-left: 25px;
}

span {
    margin-left: 30px;
}

#bi-gear {
    background-color: rgb(81, 136, 225);
    color: white;
}

#bi-people-fill {
    background-color: rgb(18, 164, 18);
    color: white;
}

#bi-books {
    background-color: rgb(183, 118, 217);
    color: white;
}

#bi-house-door {
    background-color: rgb(227, 49, 85);
    color: white;
}

.sym {
    margin: 10px 82px 10px 82px;
    height: 32px;
    width: 35px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
}

h6 {
    margin: auto;
    padding-bottom: 15px;

}

.view {
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-left: 30px;
}

/* need-help section */
.need-help {
    background-color: rgba(223, 221, 221, 0.722);
    justify-items: center;
    height: 200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 8px;
    max-width: 1200px;
    padding: 20px;
}

.help {
    margin-left: 150px;
    margin-top: 15px;
}

.help-subline {
    margin-bottom: 20px;
}

.demo {
    margin-right: 30px;
    border-radius: 8px;
}

#ct-sprt {
    background-color: black;
    color: white;
}

#sc-demo {
    background-color: white;
    color: black;
}