.container {
    height: 220vh;
    width: 100%;
   

}

.eve {
    margin-top: 50px;
    height: 60vh;
    width: 80%;
    display: flex;
    gap: 40px;
    margin-left: 100px;
}

.events {
    height: 403px;
    width:30%;
  
    box-shadow: 10px 10px 10px lightslategray;
    border-radius: 10px;
    justify-content: center;
}

.events p {
    font-size: large;
    padding: 1rem;
}

img {
    border-radius: 10px;
    height: 200px;
    width: 100%;
    cursor: pointer;
}

button {
    height: 45px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-color: #100b0a;
    color: aliceblue;
}

button:hover {
    background-color: orangered;
}