.text-center{
    justify-content: center;
    font-weight: 700;
}
.intro-line{
    font-size: 17px;
    color:rgb(165, 163, 163);
    text-align: center;
    padding-top:12px
}
.register{
    color:white;
    background-color:skyblue;
    border-radius: 7px;
    height:30px;
    width:198px;
}
.register:hover{
    color:white;
    background-color: orangered; 
}

.events{
    display:flex;
    flex-direction: row;

}
.event-item{
    margin:50px 90px 5px 0px;
    border: 1px solid black;
    box-shadow:0 2px 6px rgba(0,0,0,0,0.1);
    width:200px;
    border-radius: 10px;
    border-bottom: 5px solid black;
    
}
.info{
    
    font-size: 15px;

}
.img{
    border-radius: 10px;
    
}