html, body {
    background-color: black !important;
    color: white !important; /* Ensure text is visible */
    margin: 0;
    padding: 0;
    min-height: 100%;
    font-family: "Lato", sans-serif; /* Optional: set default font */
    scroll-behavior: smooth;
}

