nav {

    width: 100%;
    display: flex;
    gap: 8px;
}

.sidebar {
    height: 80vh;
    width: 25%;
    color: aliceblue;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.container {
    padding: 50px;

}

#d1 {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    transition: 2s ease-out;
}

#e1 {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
}

#d1:hover {
    background-color: #4a148c;
    transform: translateX(20px);
}

.content {
    height: 125vh;
    width: 70%;
}

.dashboard {
    height: 150px;
    display: flex;
    gap: 30px;
    padding: 50px;

}

#d2 {
    height: 25vh;
    width: 150vh;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 15px;
    justify-content: center;
}

.container1 {
    padding: 50px;
    display: flex;
    gap: 50px;
}

.recentEvent {
    width: 60%;
}

.c1 {
    display: flex;
    gap: 30px;
    padding: 10px;
    align-items: center;
}

.recentEvent1 {
    justify-content: center;
    display: flex;
    gap: 20px;
    align-content: center;
    background-color: white;
    border-radius: 8px;
    color: black;
    padding: 10px;
    transition: 2s ease;
}

.recentEvent1:hover {
    transform: scale(1.1);
}

.quick-action {
    margin-top: 150px;
    height: 200px;
    width: 350px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    color: white;
    border: 1px solid #86a8e7;
    background-color: #02181c;
}

.c3 {
    justify-content: center;
    padding: 10px;
}

.c4 {
    justify-content: center;
    height: 75px;
    width: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    border-radius: 8px;
    margin-bottom: 30px;
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.quick-elements {
    display: flex;
    gap: 30px;
}

.bi-lightning-charge-fill {
    margin: 0px 10px 5px -10px;
    color: rgb(251, 127, 26);
}

.timestamp {
    font-size: 13px;
    color: rgb(182, 177, 177);
    font-weight: 400;

}

.quick-icon {
    margin-top: 20px;
}

.subline {
    margin-top: -10px;
}


#c5 {
    background: linear-gradient(to right, #56ab2f, #a8e063);
}