.side-bar {
    margin-left: 50px;
    color:white;
}

.profile{
    background-color: #000;
}

.side-bar h5 span {
    cursor: pointer;
    display: block;
    gap: 8px;
    transition: color 0.3s ease;
}


.side-bar ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
}
.side-bar a{
    text-decoration: none;
    color: white;
}
.side-bar ul.open {
    max-height: 300px;
    opacity: 1;
}

.side-bar ul li {
    padding: 8px 0;
    transition: padding-left 0.3s ease, color 0.3s ease;
}

.side-bar ul li:hover {
    padding-left: 12px;
    color: white;
    text-decoration: underline;
}

.Event-Insights {
    justify-content: center;
    display: flex;
    gap: 50px;
    colors:white;
}

.Insights {
    height: 200px;
    width: 280px;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    color:white;
     background: linear-gradient(135deg, #1e1b3a, #03343c);
}

.Insights h4 {
    display: flex;
    gap: 20px;
    justify-content: center;
    color:white;
}
.Insights span{
    color:white;
}
.Insights h4 svg {
    margin-top: 10px;
    color: white;
}

.Event-Overview-Panel {
    display: flex;
    border-radius:8px;
    padding:30px;
    justify-content: left;
    margin-left:90px;
    height: 500px;
    width: 800px;
    position: relative;
    color:white;
    background-color: #010d0d;
   margin-top:-30px;
   
}

.text {
    display: flex;
    gap: 500px;
}
.text a{
    text-decoration: none;
    color: white;
}
.text a:hover{
    text-decoration: underline;
    color: white;
}
.d1 {
    height: 80px;
    width: 100%;
    border: 1.5px solid black;
    border-radius: 10px;
    align-content: center;
    padding: 15px;
    display: flex;
    gap: 30px;
    color:white;
    background: linear-gradient(135deg, #1a1f2c, #222c38);
}
.d1:hover{
    border:1px solid rgb(64, 17, 98);
    background-color: rgb(72, 25, 105) ;
}
.bi-calendar{
     background: linear-gradient(to right, #7f7fd5,#86a8e7,#91eae4);
     
     
}
.quick-action {
    margin-top: 5x;
    height: 280px;
    width: 350px;
    padding:10px;
    text-align: center;
    border-radius: 10px;
    align-content: center;
    color:white;
    background-color: #02181c;
}
.c1 {
    justify-content: center;
    padding: 10px;
}

.c2 {
    justify-content: center;
    height:75px;
    width:300px;
    padding-left:20px;
    padding-right:20px;
    padding-top:15px;
    padding-bottom:25px;
    border-radius:8px;
    margin-bottom:30px;
    background: linear-gradient(to right, #7f7fd5,#86a8e7,#91eae4);
}
.quick-elements{
display:flex;
gap:30px;
}
h5{

}
.quick-icon{
    margin-top:20px;
}
.subline{
    
}
.c2:hover{
    
}
#c3{
 background:linear-gradient(to right,#56ab2f, #a8e063);
}