.logo {
  height: 50px;
  margin-left: 10px;
  align-content: center;
  margin-top: 15px;
  border: 2px;
  border-radius: 10px;
  padding: 10px;
}


.nav-item {
  display: flex;
  gap: 400px;
  height: 80px;
  width: 100%;
  top: 0;
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
  color: aliceblue;
  position: sticky;

}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
  z-index: 1000;
  size: 100vh;
}

.navbar-center {
  display: flex;
  gap: 55px;
  height: 25px;
  align-items: center;
}

.profile {
  position: relative;
  margin-left: auto;
}

.dropdown-profile {
  display: none;
  position: absolute;
  background: white;
  list-style: none;
  padding: 0;
  margin-left: 10px;
  border: 1px solid #ccc;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 2000;
}

.dropdown-profile li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  text-align: center;

}


.profile:hover .dropdown-profile {
  display: block;
}

.profile .arrow {
  transition: transform 0.5s ease;
}

/* Rotate the icon when hovering over the profile container */
.profile:hover .arrow {
  transform: rotate(180deg);
}
.profile:hover{
  background-color: rgb(148, 215, 242);
  padding:10px 15px 10px 15px;
  border-radius: 8px;
}