.background-img {
    height: 80vh;
    width: 70%;
    background-image: url("https://images.pexels.com/photos/1105666/pexels-photo-1105666.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 250px;
    color: white;
    border-radius: 10px;
    text-align: center;

}

.text-wrapper {
    position: relative;
    padding: 180px;
    height: 60px;
    overflow: hidden;
}

.text-line {
    font-size: 40px;
    opacity: 0;
    animation: fadeLoop 3s infinite;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.text-line:nth-child(1) {
    animation-delay: 0s;
}

.text-line:nth-child(2) {
    animation-delay: 3s;
}

@keyframes fadeLoop {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}


/* about section */
.about-us .about-brief {
    text-align: center;
    font-size: 15px;
    word-spacing: 8px;
}


.about-us {
  opacity: 0;
  transform: translateX(100%); /* start from right */
  animation: slideInRight 1.2s ease-out forwards;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/*gallery section*/
.Event-gallery {
    height: 90vh;
    width: 100%;
}

h2 {
    text-align: center;
}

.Event-gallery h6 {
    text-align: center;
    color: gray;

}

.img-row-1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.row-1 {
    height: 250px;
    width: 300px;
    border-radius: 15px;
}

img {
    height: 230px;
    width: 298px;
    border-radius: 15px;
}

.img-row-2 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.row-2 {
    height: 250px;
    width: 300px;

    border-radius: 15px;

}


/*sponser*/
.company marquee span {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    background-color: lightskyblue;
    display: inline-block;
    margin: 0 30px;
    font-size: 18px;
}

.company marquee {
    word-spacing: 50px;
}

/* Feedback Section */
.client-feedback {
    height: 70vh;
    width: 100%;
}


.client-feedback h6 {
    text-align: center;
    color: gray;
}

.client {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.c1 {
    height: 250px;
    width: 380px;
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    justify-items: center;
    box-shadow: 0px 4px 8px lightgrey;
    text-align: center;
}