.container {
    height: 130vh;
    width: 100%;
    justify-items: center;
}

.c1 {
    margin-top: 10px;
    height: 150px;
    width: 80%;
  background-color:  #886BAA;

    border-radius: 8px;
    align-content: center;
    justify-items: center;
}



.totalEvent {
    height: 150px;
    width: 80%;
    background-color: #7f7fd5;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: 2s ease;
}

.totalEvent:hover {
    transform: scale(1.1);
}

.totalAttendance {
    height: 150px;
    border-radius: 8px;
    padding: 15px;
    display: flex;
    gap: 250px;
    align-items: center;
    transition: 2s ease;
}

.totalAttendance:hover {
    transform: scale(1.1);
}

.quickaction {
    display: flex;
    gap: 100px;
    margin-top: 10px;
    height: 250px;
    width: 80%;


}

a {
    text-decoration: none;
    color: aliceblue;
}

.item {
    margin-top: 10px;
    height: 200px;
    width: 50%;
    border-radius: 8px;
    transition: 2s ease;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
 background: linear-gradient(to bottom, rgb(84, 84, 222), rgb(187, 48, 187));
}

.item:hover {
    transform: scale(1.1);

}

.allevent {
    height: 250px;
    width: 80%;
}

.item1 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
  background: linear-gradient(
  270deg, 
  #5279B3 0%, 
  #886BAA 50%, 
  #6E518E 100%
);
    border-radius: 8px;
    transition: 2s ease;
}

.item1:hover {
    transform: scale(1.1);

}

.register {
    height: 250px;
    width: 80%;
}

.item2 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    border-radius: 8px;
    transition: 2s ease;
    background-color: hsl(314, 49%, 45%);

}

.item2:hover {
    transform: scale(1.1);

}