.side-bar {
    margin-left: 50px;
}

.side-bar h5 span {
    cursor: pointer;
    display: block;
    gap: 8px;
    transition: color 0.3s ease;
}


.side-bar ul {
    list-style: none;
    padding-left: 20px;
    margin: 0;
    max-height: 0;
    opacity: 0;
    transition: all 0.4s ease;
}

.side-bar a {
    text-decoration: none;
    color: white;
}

.side-bar ul.open {
    max-height: 300px;
    opacity: 1;
}

.side-bar ul li {
    padding: 8px 0;
    transition: padding-left 0.3s ease, color 0.3s ease;
}

.side-bar ul li:hover {
    padding-left: 12px;
    text-decoration: underline;
    color: #000;
}


.Event-Insights {
    justify-content: center;
    display: flex;
    gap: 50px;
}

.Insights {
    height: 200px;
    width: 280px;
    color: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    /* box-shadow: 0px 4px 8px lightgrey; */
    background: linear-gradient(135deg, #1e1b3a, #03343c);
}

.insights-heading {
    color: whitesmoke;
    font-size: 18px;
}

.insight-subheading {
    margin-top: -25px;
    font-size: 14px;
    color: rgb(202, 198, 198);
    font-weight: 300;
}

.percent {
    background-color: #2eb055;
    height: 5px;
    width: 20px;
    font-size: 15px;
    padding: 7px;
    border-radius: 10px;
}

.count {
    justify-items: flex-start;
    font-size: 36px;
}

.totalevent-icons {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    padding: 8px;
    margin-left: 45px;
    color: white;
    height: 30px;
    width: 34px;
    margin-top: -2px;
    border-radius: 8px;
}


.Insights h4 {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.Insights span {
    color: white;
}

.Insights h4 svg {
    margin-top: 10px;
    color: white;
}

.recent-upcoming-event {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.recent-event {
    height: 650px;
    width: 500px;
    border: 1px solid #7f7fd5;
    padding: 20px;
    border-radius: 15px;
}

.upcoming-event {
    height: 650px;
    width: 500px;
    border: 1px solid #7f7fd5;
    padding: 20px;
    border-radius: 15px;

}

.d1 {
    height: 100px;
    width: 100%;
    border: 1px solid #86a8e7;
    border-radius: 10px;
    padding: 10px;

}

button {
    height: 70px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #91eae4;
    background-color: #0c0b0b;
    color: whitesmoke;
}

button a {
    text-decoration: none;
    color: #eae4e4;
}

button:hover {
    background-color: orangered;

}

h6 {
    color: gray;
}

.d2 {
    height: 100px;
    width: 100%;
    border: 1px solid #86a8e7;
    border-radius: 10px;
    padding: 10px;
}