nav {
    justify-items: center;
    text-align: center;
}
.container{
    border: 1px solid grey;
    border-radius: 20px;
    height: 200px;
    width:70%;
    padding: 15px;
}
.star-container {
    font-size: 40px;
}

