.gallery {
  margin: 0;
  padding: 0;
  justify-items: center;
  overflow: hidden;
  padding: 50px;
}

.img-row-1 {
  display: flex;
  gap: 25px;
}

.img-1 {
  height: 300px;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-row-2 {
  display: flex;
  gap: 25px;
}

.img-2 {
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#d1 {
  height: 300px;
  width: 900px;
}

.img-row-3 {
  display: flex;
  gap: 25px;
}

.img-3 {
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#d2 {
  height: 300px;
  width: 900px;
}

.img-row-4 {
  display: flex;
  gap: 25px;
}

.img-4 {
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#d3{
height: 300px;
width: 675px;
}


