#footer {
  height: 350px;
  width: 100%;

}

span {
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
  background-color: lightskyblue;
}

.d10 {
  display: flex;
  gap: 100px;
  color: black;
  border-radius: 25px;
  padding: 50px;
  justify-content: center;
}



.social-media {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 100px;
}
.icons{
  display: flex;
  gap: 15px;
}




#Inst-icon:hover {
  color: rgb(210, 34, 101)
}

#icon:hover {
  color: blue
}

#Y-icon:hover {
  color: red;
}