#footer {
  height: 320px;
  width: 100%;
  color: #1c0707;
  background-color: rgb(240, 232, 232);
}

span {
  border: 1px solid black ;
  padding: 10px;
  border-radius: 10px;
    /* background: linear-gradient(to right,rgb(43, 43, 140),rgb(211, 107, 211)); */

}

.d10 {
  display: flex;
  gap: 100px;
  border-radius: 25px;
  padding: 50px;
  justify-content: center;
}

.social-media {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 100px;
}

.icons {
  display: flex;
  gap: 15px;
  margin-left: 900px;
  cursor: pointer;
}

#Inst-icon:hover {
  color: rgb(210, 34, 101)
}

#icon:hover {
  color: blue
}

#Y-icon:hover {
  color: red;
}
.c1{
  color: black;
  text-decoration: none;
}