 <div class="container">
    <br>
    <br>

    <div id="event-filter-toggle" class="event-toggle-container">
        <a (click)="switchView('Ongoing')" class="toggle-segment"
            [ngClass]="{'active-segment': currentView === 'Ongoing'}">
            Ongoing/Past Events
        </a>

        <a (click)="switchView('Upcoming')" class="toggle-segment"
            [ngClass]="{'active-segment': currentView === 'Upcoming'}">
            Upcoming Events
        </a>
    </div>
    <br>
    <div *ngIf="currentView === 'Upcoming'">
        <div class="line">
            <h4><i>Here you can view all Upcoming events!</i></h4>
        </div>
        <br>

        <ng-container *ngFor="let category of categories">
            <h6><B>{{ category }} EVENTS</B></h6>
            <div class="eve">
                <ng-container *ngIf="(upcomingEvents | filterByCategory: category).length > 0; else noUpcomingEvents">
                    <div class="events" *ngFor="let event of (upcomingEvents | filterByCategory: category)">
                        <!-- <img [src]="event.imageUrl" [alt]="event.title"> -->
                         <div class="event-block"></div>
                        <p id="d1">
                            <b>{{ event.title }}</b>
                            <br>
                            Date: {{ event.eventDate | date: 'longDate' }}
                            <br>
                            Time: {{ event.eventDate | date: 'shortTime' }}
                            <br>
                            Venue: {{ event.location }}
                        </p>
                         <!-- <button routerLink="/register"><b>REGISTER</b></button> -->
                    </div>
                </ng-container>
                <ng-template #noUpcomingEvents>
                    <p>No upcoming {{ category | lowercase }} events scheduled.</p>
                </ng-template>
            </div>
            <hr>
        </ng-container>
    </div>

    <div *ngIf="currentView === 'Ongoing'">
        <div class="line">
            <h4><i>Here you can view all Ongoing and Past events!</i></h4>
        </div>
        <ng-container *ngFor="let category of categories">
            <h6><B>{{ category }} EVENTS</B></h6>
            <div class="eve">
                <ng-container *ngIf="(ongoingEvents | filterByCategory: category).length > 0; else noOngoingEvents">
                <div class="events" *ngFor="let event of (ongoingEvents | filterByCategory: category)">
                    <div class="event-block1"></div>
                    <p id="d1">
                        <b>{{ event.title }}</b>
                        <br>
                        Date: {{ event.eventDate | date: 'longDate' }}
                        <br>
                        Time: {{ event.eventDate | date:'shortTime' }}
                        <br>
                        Venue: {{ event.location }}
                    </p>
                    <!-- <button routerLink="/register"> <b>REGISTER</b></button> -->
                </div>
        </ng-container>
        <ng-template #noOngoingEvents>
                    <p>No ongoing or past {{ category | lowercase }} events found.</p>
        </ng-template>
    </div>
    <hr>
    </ng-container>
    </div>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>