<div class="signup-container">
  <div class="signup-left">
    <h2>Create Account</h2>
    <p>Join us today</p>

    <form (ngSubmit)="adddata()">
      <div class="input-group">
        <span class="icon"><i class="fa fa-user"></i></span>
        <input type="text" placeholder="Full Name" name="name" [(ngModel)]="user.name" required />
      </div>

      <div class="input-group">
        <span class="icon"><i class="fa fa-envelope"></i></span>
        <input type="email" placeholder="E-mail" name="email" [(ngModel)]="user.email" id="email"  pattern=".*@gmail\.com$" 
          #emailInput="ngModel"required />
        <div *ngIf="emailInput.errors?.['pattern'] && emailInput.touched" class="error-message">
          Email must end with @gmail.com.
        </div>
      </div>

      <div class="input-group">
        <span class="icon"><i class="fa fa-lock"></i></span>
        <input type="password" placeholder="Password (max 8 characters)" name="password" [(ngModel)]="user.password" maxlength="8" 
          #passwordInput="ngModel" required />
        <span class="toggle-eye"><i class="fa fa-eye"></i></span>
        <!-- Display error message for password -->
        <div *ngIf="passwordInput.errors?.['maxlength'] && passwordInput.touched" class="error-message">
          Password must be a maximum of 8 characters.
        </div>
      </div>

      <div class="input-group">
        <span class="icon"><i class="fa fa-phone"></i></span>
        <input type="Tel" pattern="[0-9]{10}" maxlength="10" placeholder="Contact Number(10 digits only)" name="contact" [(ngModel)]="user.contact" required #contactInput="ngModel" />
        <div *ngIf="contactInput.invalid && contactInput.touched" class="error-message">Contact number must be exactly 10 digits (numbers only).</div>
      </div>

      <div class="input-group select-group" >
        <select    name="role" [(ngModel)]="user.role"required>
          <option value="" disabled selected>Select Role</option>
          <option value="STUDENT">Student</option>
          <option value="HOST">Host</option>
          <option value="COORDINATOR">Coordinator</option>
          <option value="ADMIN">Admin</option>
        </select>
      </div>

      <button type="submit" class="signup-btn">SIGN UP</button>
    </form>

    <p class="signin-link">
      Already have an account? <a routerLink="/login">Sign In</a>
    </p>
  </div>

  <div class="signup-right">
    <div class="welcome-card">
      <h3>Welcome!</h3>
      <p>
        Join our community today and unlock exclusive features. Create your account to get started with
        a personalized experience tailored just for you. We're excited to have you on board!
      </p>
      <img src="https://img.freepik.com/free-vector/group-people-jeans-shirts_52683-34818.jpg" alt="Welcome Image" />
    </div>
  </div>
</div>
<router-outlet></router-outlet>